# ──────────────────────────────────────────
# Variables d'environnement globales
# Copier ce fichier : cp .env.example .env
# ──────────────────────────────────────────

# Auth Service
AUTH_DB_URL=postgresql+asyncpg://auth_user:auth_password@auth-db:5432/auth_db

# Booking Service
BOOKING_DB_URL=postgresql+asyncpg://booking_user:booking_password@booking-db:5432/booking_db

# Payment Service
PAYMENT_DB_URL=postgresql+asyncpg://payment_user:payment_password@payment-db:5432/payment_db

# Inventory Service
INVENTORY_DB_URL=postgresql+asyncpg://inventory_user:inventory_password@inventory-db:5432/inventory_db

# Log Service
LOG_DB_URL=postgresql+asyncpg://log_user:log_password@log-db:5432/log_db

# Shared
LOG_LEVEL=INFO
DEBUG=false
